<%- include("partials/header.ejs") %>
<%- include('partials/form.ejs') %>
<a href="createPost">
<button class="btn" href="/createPosts">Create Post</button></a>
<br><br>
<a href="removePost">
    <button class="btn" href="/removePosts">Remove Post</button></a>
<%- include("partials/footer.ejs") %>